.container {
    // max-width: 1200px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    outline: 1px solid tomato;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.container--LRpading0 {
    padding-left: 0px;
    padding-right: 0px;
}