.container {
    // max-width: 1200px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    outline: 1px solid tomato;

    @include mobile {
        width: 480px;
    }

    @include tablet {
        width: 768px;
    }

    @include desktop {
        width: 1200px;
    }
}

.container--LRpading0 {
    padding-left: 0px;
    padding-right: 0px;
}