.section {
    padding: 60px 0px; // 94px;

    @media screen and (min-width: 1200px) {
        padding: 94px 0px;
    }
}

.section--top {
    padding-top: 0;
}

.section--gray {
    background-color: #F5F4FA;
}


.section--hidden {
    
}