.section {
    padding: 60px 0px; // 94px;

    @media screen and (min-width: 1200px) {
        padding: 94px 0px;
    }
}

.section--top {
    padding-top: 0;
}

.section--gray {
    background-color: #F5F4FA;
}


@media screen and (max-width: 1199px) {
    .section--hidden {
        width: 0px;
        height: 0px;
        visibility: hidden;
        /* забирає можливість фокусу */
        opacity: 0;
        /* робить невидимим */
        pointer-events: none;
        /* неможливо клікнути */
        font-size: 0;
    }
}