.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    // outline: 1px solid tomato;
}

.section--top {
    padding-top: 0;
}

.section--gray {
    background-color: #F5F4FA;
}



.section--hidden {
    @media screen and (max-width: 1199px) {
        // display: none; // недоступна для індексації
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden

        // visibility: hidden; //забирає можливість фокусу
        // opacity: 0; //робить невидимим
        // pointer-events: none; //неможливо клікнути
        // font-size: 0;

    }
}