body {
    background-color: var(--primary-white-color);

    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}

.title {
    color: var(--title-text-color);
}

.text {
    color: var(--primary-text-color);
}

// .invisible {
//     font-size: 0;
// }

.button {
    cursor: pointer;
    font-family: inherit;

    display: block;
    margin: 0 auto;
    
    border: none;
    border-radius: 4px;
}