:root {
    --primary-white-color: #fff;
    --accent-color: #2196f3;
    --button-background: #f5f4fa;
    --primary-text-color: #757575;
    --title-text-color: #212121;

    --font-weight-500: 500;
    --font-weight-700: 700;
    --letter-spacing-006: 0.06em;
    --font-size-14: 14px;
    --font-size-16: 16px;
}