footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2f303a;
}

.footer__container {
    display: flex;
    flex-wrap: wrap; //new
    justify-content: center; //new
    row-gap: 60px;
    column-gap: 165px;

    // outline: 1px solid tomato;

    @include desktop {
         column-gap: 70px;
         justify-content: space-between;
    }
}

.footer__logo {
    text-align: center; //new
    display: block;
    margin-bottom: 20px;
    // outline: 1px solid tomato;

    @include desktop {
        text-align: left;
    }
}

// .footer__address-list {
//     display: flex;
//     flex-direction: column;
//     gap: 9px;
// }

.footer__address-item {
    text-align: center;
    margin-top: 8px;

    @include desktop {
        margin-bottom: 9px;
        text-align: left;
    }
}

.footer__address-link,
.footer__contact-link {
    text-decoration: none;
    font-style: normal;
    color: #ffffff;
    font-size: var(--font-size-14);
    line-height: 1.71;
    letter-spacing: 0.03em;

    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer__contact-link {
    color: rgba(255, 255, 255, 0.6);
}

/* ---------------FOOTER join and subscribe*/
// .footer__items {
//     padding-top: 12px;

//     display: flex;
//     justify-content: space-between;
//     flex-grow: 1;
// }

/* ---------------FOOTER join */

.join__title {
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-14);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);

    text-align: center;
    margin-bottom: 20px;

    // outline: 1px solid tomato;
    @include desktop {
        text-align: left;
        padding-top: 6px;
    }
}

/* ---------------FOOTER subscribe */
.subscribe {
    width: 100%;
    max-width: 450px;
    @include desktop {
        max-width: 570px;
        padding-left: 23px;
    }
}

.subscribe__title {
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-14);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

    text-align: center;
    margin-bottom: 20px;
    @include desktop {
        text-align: left;
        padding-top: 6px;
    }
    // outline: 1px solid tomato;
}

.subscribe__form {
    // outline: 1px solid tomato;
    @include desktop {
        display: flex;
        gap: 12px;
    }
}

.subscribe__input {
    color: var(--primary-white-color);

    width: 100%;
    // max-width: 450px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: inherit;
    outline: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    // padding-left: 16px;
    // margin-right: 12px;
    margin-bottom: 20px; //new

    @include desktop {
        width: 358px;
    }
}

.footer__subscribe-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
    max-width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    border-radius: 4px;
    border: 0;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin: 0 auto;
    @include desktop {
        display: inline-flex;        
    }
}

.subscribe__button-text {
    font-weight: var(--font-weight-700);
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.88;
    color: #FFFFFF;
}

.subscribe__button-icon {
    fill: var(--primary-white-color);
}