/* modal-title */
.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}

/* modal-form */

.modal-form-label {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

// .modal-form-label:last-child {
//     margin-bottom: 20px; //не працюэ
// }

.modal-label-title {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;

    display: flex;
    margin-bottom: 4px;
}

/* input */
.modal-form-input {
    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding-left: 42px;

    transition: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--accent-color);
    }
}

.modal-form-icon {
    width: 18px;
    height: 18px;

    position: absolute;
    left: 12px;
    bottom: 11px;

    transition: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form-input:focus+& {
        fill: var(--accent-color);
    }
}

/* textarea */
.modal-form-textarea {
    width: 100%;
    min-height: 120px;

    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding: 12px 16px;

    transition: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
        border-color: var(--accent-color);
    }
}

/* inputcheck */
.check-text {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    margin: 10px auto 30px 0px;

    display: inline-flex;
    align-items: center;

    @include desktop {
        font-size: var(--font-size-14);
        line-height: 1.71;
        margin: 10px auto 30px 12px;
    }

    &::before {
        content: '';
        width: 16px;
        height: 15px;
        margin-right: 8px;

        border: 2px solid #212121;
        border-radius: 2px;

        transition: border-color, background-color, background-image;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        .modal-form-inputcheck:checked+& {
            background-color: var(--accent-color);
            border-color: var(--accent-color);
            background-image: url(../images/check.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.check-link {
    color: var(--accent-color);
    text-decoration: underline;
    text-decoration-skip-ink: none;
    /* text-underline-position: under; */
}

/* button */
.modal-send-button {
    max-width: 200px;
    height: 50px;
    margin: 0 auto;

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
}

.send-button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}