.hero {
    background-color: #2f303a;

    background-image: linear-gradient(var(--hero-grad)), url(../images/hero-m.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include retina {
        background-image: linear-gradient(var(--hero-grad)) , url(../images/hero-m-2x.jpg);
        }

    @include tablet {
        background-image: linear-gradient(var(--hero-grad)), url(../images/hero-t.jpg);
        @include retina {
            background-image: linear-gradient(var(--hero-grad)), url(../images/hero-m-2x.jpg);
        }
    }

    @include desktop {
        background-image: linear-gradientvar(--hero-grad), url(../images/hero.jpg);
        @include retina {
            background-image: linear-gradient(var(--hero-grad)), url(../images/hero-m-2x.jpg);
        }
    }
}

.hero__container {
    padding: 118px 15px 118px 15px;

    @media screen and (min-width: 1200px) {
        padding: 200px 0px;
    }
    
    // outline: 1px solid tomato;
}

.hero__title {
    margin: 0 auto;

    color: var(--primary-white-color);
    letter-spacing: var(--letter-spacing-006);
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;

    width: 100%;
    max-width: 360px;

    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__button {
    background-color: var(--accent-color);

    color: var(--primary-white-color);
    font-family: inherit;
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-16);
    letter-spacing: var(--letter-spacing-006);
    line-height: 1.88;

    max-width: 200px;
    height: 50px;
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
        max-width: 216px;
    }
}