.logo {
    text-decoration: none;
    color: #000000;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    line-height: 1.17;
    font-weight: var(--font-weight-700);

    @include desktop {
        font-size: 26px;
        line-height: 1.2;
    }
}

footer {
   color: #ffffff;
}


.logo-web {
    color: var(--accent-color);
}