.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-filter {
    font-family: inherit;
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-16);
    line-height: 1.62;
    text-align: center;
    color: var(--title-text-color);

    transition: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--primary-white-color);
        background-color: var(--accent-color);

        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.button-list {
    margin-bottom: 50px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.portfolio-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.portfolio-item {
    width: 370px;

    transition: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio-top-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-top-text {
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);

    padding: 24px;
    height: 100%;

    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    transform: translateY(101%);

    transition: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    overflow: auto;

    .portfolio-item:hover &,
    .portfolio-item:focus & {
        transform: translateY(0);
    }
}

.portfolio-descr {
    padding: 20px 24px;
    width: 370px;
    border: 1px solid #eeeeee;
    border-top: 0;
}

.portfolio-subtitle {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    line-height: 2;
    letter-spacing: var(--letter-spacing-006);
    color: var(--title-text-color);

    margin-bottom: 4px;
}

.portfolio-project {
    font-size: var(--font-size-16);
    line-height: 1.88;
    color: var(--primary-text-color);
}